body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #e9e9e9;
    font-size: 16px;
    margin: 0px;
    color: #333;    
    justify-content: center; 
    align-items: center;  
    flex-direction: column;
  
}

h1, h2, .main-title, .sub-title {
    font-family: 'Protest Guerrilla', sans-serif;
}

h1 {
    font-size: 98px;
    font-weight: bold;  
    
}

.white-container-box {
    max-width: 80%;
    margin: 40px auto;
    text-align: center;
    
}

.white-container-box img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  
}

.nav-links {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 136px;
    margin-top: 50px;
}

.nav-links a {
    margin: 0 16px;
    color: black;
    text-decoration: none;
    
}

#main-content {
    padding: 0px;
    max-width: 80%;
    margin-bottom: 0;
    margin: 40px auto;
    background-color: #ffffff;
}

.title {
    padding: 50px;
    margin: 20px 0 20px 0;
    font-size: 96px;

}

.subtitle {
    margin: 20px 50px;
    font-size: x-large;
  
}

.grid-container {
    padding: 0 50px 50px;
    column-count: 3;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.featured {
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / 3;

}

.album-cover {
    align-items: center;
    justify-content: center;
    display: flex;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 1 / 1;
}

.featured img,
.album-cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  
}
.author {
    text-align: left;
    padding: 50px 50px;
}

.author_section {
    display: grid;
    align-items: center;
    gap: 63px;
    grid-template-columns: 1fr auto;
}

.text-content {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.text-content h2 {
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
}

.text-content p {
    text-align: left;
    font-size: 16px;
    margin: 0;
}

.author img {
    height: auto;
    width: 200px;
    border-radius: 50%;
}

footer {
    background-color: #14181d;
    color: #ffffff;
    text-align: center;
    width: 92.9%; 
    padding: 30px ;
}

/* Media Query for Desktop (1024px and up) */
@media screen and (min-width: 1024px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
        padding-left: 50px;
        padding-right: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .white-container-box img {
        width: 200px;
    }

    .nav-links {
        justify-content: center;
        gap: 175px;
    }

    .subtitle {
        font-size: x-large;    
    }
    .main-content {
        background-color: #ffffff;
        max-width: 80%;
        margin: 40px auto;
        margin-bottom: 0;
        padding: 0px;
    }

    .author {
        padding: 50px 150px;;
    }
}

/* Media Query for Tablet (720px - 1024px) */
@media screen and (min-width: 720px) and (max-width: 1024px) {
    body {
        background-color: #e9e9e9;
        margin: 0;
        padding: 0;
        align-content: center;
        font-family: sans-serif;
    }
    .header {
        padding: 20px;
        text-align: center;
    }

    .white-container-box img  {
        margin: 0 auto;
        border: 2px solid #000;
        border-radius: 50%;
        width: 80px;
        height: 80px;
    }

    .nav {
        display: flex;
        margin-top: 20px;
        justify-content: center;
        gap: 40px;
    }

    .main-content {
        background: white;
        border: 1px solid #000;
        max-width: 800px;
        margin: 20px auto;
        padding: 40px;  
    }

    .title {
        margin-bottom: 20px;
        font-size: 36px;
        text-align: center;
    }
    .subtitle {
        margin-bottom: 50px;
        text-align: center;
        font-size: 18px;
    }

    .heading {
        font-size: 36px;
        text-align: center;
        margin: 30px 0;
    }

    .grid-container {
        margin-bottom: 40px;
        column-count: 1;
    }

    .grid-container{
        text-align: left;
    }

    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        display: grid;
        gap: 0;
    }

    .container img {
        height: 300px;
        object-fit: cover;
    }

    footer {
        padding: 20px;
        font-size: 14px;
    }
    .author img {
        border-radius: 50%;
        width: 150px;
        height: 150px;
    }
}
/* Large Mobile (540px-720px) */
@media (min-width: 540px) and (max-width: 720px) {
    .body{
        margin: 0px;
    }

    .main-content {
        margin-bottom: 0;
        background-color: #ffffff;
        border: 1px solid #000000;  
    }

    .white-container-box img{
        width: 80px;
        height: 80px;
    }
    .white-container-box{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .nav-links {
        gap: 20px;
    }

    .title{
        text-align: center;
        padding: 20px;
        margin: 20px 0 20px 0;
        font-size: 32px;
    }

    .subtitle {
        margin: 20px 20px;
        font-size: 20px;
    }

    .container {
        display: grid;
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr;
        width: 100%;
        height: 100%;
        gap: 0;
        box-sizing: border-box;
    }
    .featured{
        display: none;
    }
    .album-cover {
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
        overflow: hidden;
        aspect-ratio: 1 / 1;
    }
   
    .album-cover img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
    .grid-container {
        margin-bottom: 20px;

        padding-bottom: 20px;
        column-count: 1;
        padding-right: 20px;
        padding-left: 20px;
    }

    .grid-container h2{
        text-align: center;
    }

    .author_section{
        flex-direction: column-reverse;
        grid-template-columns: 1fr auto;
        align-items: center;
        display: flex;
        gap: 20px;
    }
}
/* Small Mobile (360px-540px) */
@media (max-width: 540px) {
    .body{
        margin: 0px;
    }
    .main-content {
        background-color: #ffffff;
        margin-bottom: 0;
        border: 1px solid #000000;
    }
    .white-container-box{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .white-container-box img{
        width: 80px;
        height: 80px;
    }
    .nav-links {
        gap: 20px;
    }
    .nav-links a{
    margin: auto;
    }
    .title{
        text-align: center;
        padding: 20px;
        font-size: 38px;     
        margin: 20px 0 20px 0;
    }
    .subtitle {
        margin: 20px 20px;
        font-size: 20px;
    }
    .container {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        gap: 0;
        box-sizing: border-box;
    }
    .featured{
        display: none;
    }
    .album-cover {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        overflow: hidden;
        aspect-ratio: 1 / 1;
    }
   
    .album-cover img {
        object-fit: cover;
        width: 100%;
        border-radius: 0;
        height: 100%;
    }
    .grid-container {
        column-count: 1;
        padding-bottom: 20px;
        margin-bottom: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .grid-container h2{
        text-align: center;
    }

    .author_section{
        flex-direction: column-reverse;
        align-items: center;
        grid-template-columns: 1fr auto;
        display: flex;
        gap: 20px;
    }
}
